<h1>Inicio de sesión</h1>
{{#if error}}
<p style="color: red;">{{mensaje}}</p>
{{else}}
<p style="color: blue;">{{mensaje}}</p>
{{/if}}
<form action="/login/validacion" method="post">
    <label for="user">Usuario: </label>
    <input type="text" name="user" id="user"><br>
    <label for="pass">Contraseña: </label>
    <input type="password" name="pass" id="pass">
    <input type="submit" value="Enviar">
</form>